<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Review Summarized Text</title>
  </head>
  <body>
    <h1>Review Summarized Text</h1>
    <form action="/generate" method="post">
      <input type="hidden" name="image_url" value="{{ image_url }}">
      {% for sentence in summarized_text %}
        <textarea name="texts" rows="3" cols="60">{{ sentence }}</textarea><br><br>
      {% endfor %}
      <input type="submit" value="Generate Image">
    </form>
  </body>
</html>
